.post-root{
    height: auto;
    margin: 3em auto;
}
.news-data{
    padding: 10px;
    color: #00303f;
    text-align: right;
}
.post-image{
    width: 100%;
    height: auto;
}
.post-content{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    text-align: right;
    box-shadow: 0 10px 20px 0 rgba(221, 221, 221, 0.3);
    padding: 15px 30px 40px;
    direction: rtl;
}
.post-title{
    text-align: center;
    color: #00303f;
    font-weight: 800;
    font-size: 2.8em;
}
.post-title:hover{
    color: #09cc7f !important;
}

@media screen and (max-width: 600px){
    .post-title{
        font-size: 1.5em;
        text-align: center;
        color: #00303F;
    }
}