.post-card-root{
  text-align: right;
  width: 100%;
  background-color: #00303f;
  color: #fff;
}
.post-media{
  height: 78%;
}
.action{
  height: 100%;
}
.post-card-content{
  padding: 0.5em 1.2em 0.5em 1em;
  height: 22%;
}
.content-title{
  font-weight: 700;
  font-size: 1.2rem;
  margin-bottom: 0.2em;
}
.card__overlay {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(85, 84, 84, 0.1);
  transition: opacity 0.25s;
}
.card__overlay:hover {
  opacity: 1;
}
.side-news-container {
  height: auto !important;
}

.link {
  display: flex;
  height: 100%;
  width: 100%;
  text-decoration: none;
}
.content__item,
.side-content__item {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  direction: rtl;
}
.side-content__item {
  -webkit-line-clamp: 1;
}
.side-news-content {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.main-news-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media only screen and (min-width: 0px) and (max-width: 464px) {
  .side-news-card {
    flex-direction: row-reverse !important;
    align-items: center !important;
    justify-content: center !important;
    height: 67px !important;
    border-radius: 5px !important;
  }
  .side-news-media {
    height: 100% !important;
    width: 40% !important;
  }
  .side-news-container {
    height: 300px !important;
  }
  .side-news {
    height: 68px !important;
  }
  .main-news-container {
    height: 450px !important;
  }
  .side-news-content {
    height: auto !important;
    padding-right: 10px !important;
    margin-top: 0 !important;
  }
  .main-news-content {
    padding: 10px !important;
    height: 32% !important;
  }
  .main-news__media {
    height: 68% !important;
  }
}

@media only screen and (min-width: 465px) and (max-width: 1023px) {
  .side-news-card {
    height: 19vh !important;
    min-height: 210px;
  }
  .main-news-container {
    height: 66vw !important;
  }
}
@media only screen and (min-width: 1024px) {
  .main-news__media {
    height: 71% !important;
  }
  .main-news-content {
    height: 29% !important;
  }
}
