.project-root{
  display: flex;
  flex-direction: column;
  padding-bottom: 0;
  margin-left: 8px;
  margin-right: 8px;
  max-height: 376px;
  min-height: 376px;
}
.project-root>*{
  padding: 0;
  margin-left: 0;
  margin-right: 0;
}
.project-media{
  margin-top: 0;
  height: 174px;
  max-height: 30%;
  min-height: 30%;
}
.project__item:nth-child(odd) .pcontrs {
  background-color: #16697a;
  color: #fff;
}
.project__item:nth-child(even) .pcontrs {
  background-color: #cdac81;
  color: #000;
}
.project__item:last-child {
  padding-bottom: 3em;
}
.project__item {
  list-style: none;
}
.pcontrs {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pcontrs__item {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.pcontrs__item > * {
  margin: 0.7em !important;
}
.div {
  background-color: #00303f !important;
}
