.project-content{
  margin: 1em auto 0;
  padding: 2em 2em 5em;
  background-color: #F5F4F4;
  text-align: right;
}
.images-box{
  margin: 1em;
  text-align: center;
  background-color: #fff;
  border-radius: 6px;
  padding: 1em;
}
.project-images{
  width: auto;
  max-height: 80%;
  height: 100%;
  border-radius: 6px;
}
.Card {
  margin-inline: 1em;
}
.Pic {
  width: 90%;
  min-width: 30%;
  min-height: 30%;
  max-width: 90%;
  max-height: 90%;
  border-radius: 6px;
  margin: 1em auto;
}
.Title {
  margin: 0 auto 0.5em;
}
.Title:hover {
  color: #09cc7f !important;
}
.Philo-pic {
  display: block;
  border-radius: 4px;
  background-color: #fff;
}
.Philo-name {
  width: 60%;
}
.Details-div {
  margin: 5% auto;
  font-size: large;
  border-inline: solid 3px #09cc7f;
}
.project-info {
  padding: 1em;
  border-radius: 6px;
}
.button {
  width: 100%;
  min-height: 5em;
  max-height: 8em;
  background-color: #09cc7f !important;
  color: #fff !important;
  transition: all 0.7s !important;
}
.button:hover {
  background: #fff !important;
  color: #09cc7f !important;
}

@media screen and (max-width: 3000px) and (min-width: 1024px) {
  .Details {
    display: grid;
    grid-template-columns: auto auto;
    direction: rtl;
  }
  .Flex-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
@media screen and (max-width: 1024px) and (min-width: 464px) {
  .Details {
    display: block;
    direction: rtl;
  }
  .Details-div {
    font-size: medium;
  }
  .Flex-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
@media screen and (max-width: 464px) {
  .Details {
    display: block;
    direction: rtl;
  }
  .Details-div {
    border-inline: none;
  }
  .Flex-div {
    display: block;
  }
  .Pic {
    width: 90% !important;
  }
  .Philo-pic {
    max-width: 50%;
    margin: 0;
  }
}
