.posts-root{
    flex-grow: 1;
    margin-top: 70px;
    margin-bottom: 1em;
    height: auto;
}
.posts-item{
    height: auto;
    margin: 0 10px;
}
.posts-news{
    display: flex;flex-direction: column;
    background-color: #fff;
}
.posts-news .description{
    display: flex;
    flex-direction: column;
    padding: 20px 15px;
    margin: 10px 0;
    text-align: right;
    box-shadow: 0 10px 20px 0 rgba(221 ,221 ,221, 0.3);
}
.posts-news .description .title{
    font-size: 17px;
    font-weight: 600;
    margin: 5px 0;
    cursor: pointer;
}
.posts-news .description .title :hover{
    color: #09cc7f;
}
.posts-news .description .text{
    font-size: 14px;
    margin: 5px 0;
}